.context-menu {
    visibility: hidden;
    opacity: 0;
    background-color: white;
    position: fixed;
    z-index: 5;
    color: #0C7FDA;
    padding: 0 !important;
    border-radius: 5px;
    border: 0;
    font-size: 0.875rem;
    width: 100%;
    max-width: 150px;
    box-shadow: 0 1px 4px 0 lightblue, 0 1px 2px 0 lightblue !important;
}

.context-menu.active {
    padding: 0;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150px;
}

button.context-menu-button {
    width: 100%;
    background-color: transparent !important;
    border: 0;
    border-radius: 0 !important;
    display: flex !important;
    justify-content: center !important;
    gap: 30px;
    padding: 5px 8px;
    cursor: pointer;
    color: #0C7FDA !important;
}

.context-menu button:hover {
    background-color: #b5def9 !important;
    color: #0C7FDA !important;
}
