
.folders-container {
    display: inline-flex;
    justify-content: space-evenly;
}

.bookmark-folder {
    width: min-content;
}

.bookmark-folder > * { 
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
}

.another-folder-button {
    border: none;
    background-color: white;
}

.another-folder-button:hover {
    background-color: #f0f0f0;
}