.title-item {
    display: flex !important;
    align-items: center;
}

label:hover {
    cursor: pointer;
}

.form-check-input {
    cursor: pointer;
}

#otherInput {
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    opacity: 75%;
    outline: none;
}

#otherInput::placeholder {
    opacity: 50%;
}

.new-title {
    height: 60px;
    width: 400px;
    background-color: #f2fbfd !important;
    border: 0 !important;
    box-shadow: 0 1px 4px 0 lightblue, 0 1px 2px 0 lightblue !important;
}

.text-truncate {
    width: inherit;
}

input[type="radio"] {
    box-shadow: none !important;
}
